html,
body {
	margin: 0;
	padding: 0;
	background-color: #7b5224;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .shape {
	position: absolute;
	background-color: #855b2a;
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
} */

canvas {
	position: relative;
	border-radius: 10%;
	box-shadow: 10px 10px 20px rgba(39, 34, 34, 0.21);
	transition: transform 0.4s ease-in-out;
	border: #fee8af solid 20px;
}

canvas:hover {
	transform: rotate(1deg);
}
