html,
body {
  margin: 0;
  padding: 0;
  background-color: #855B2A;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border-radius: 10%;
  box-shadow: 10px 10px 20px rgba(39, 34, 34, 0.21);
  transition: transform .4s ease-in-out;
  border: #FEE8AF solid 20px;;
}

canvas:hover {
  transform: rotate(1deg);
}