html, body {
  margin: 0;
  padding: 0;
  background-color: #855B2A;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  border-radius: 10%;
}
